@charset "utf-8";
/* CSS Document */
/* track.jsp */

.d1{width:60px;}
.d2{width:300px;}
.d3{width:60px;text-align:center;}
.d4{width:80px;text-align:center;}
.d5{width:60px;text-align:center;}
.d6{width:100px;text-align:center;}

.e1{width:60px;}
.e2{width:280px; padding-left:20px; background:url(../images/travel/help_bg.gif) left 10px no-repeat; overflow:hidden;}
.e3{width:60px; text-align:center;}
.e4{width:80px;text-align:center;}
.e5{width:30px; padding-left:30px; background: url(../images/travel/bi_bg.gif) 10px 10px no-repeat;}
.e6{width:100px;text-align:center;}

.travel_menue_rr{width:280px;float:right;_margin-right:-5px;}/* 225px */
.travel_menue_rr h2{width:100%;height:50px;line-height:50px;float:left; font-size:14px; font-weight:bold;}
.travel_menue_rr h2 span.left{font-size:14px; font-weight:bold;}
.travel_menue_rr h2 a.right{font-size:12px;font-weight:normal;}
.tq_icon{width:18px;height:16px;display:block;}
.tqyb{width:193px;padding:10px 15px; background-color:#f7f7f7; border:1px solid #ccc; float:left; line-height:25px;}
.tqyb span,.tqyb img{float:left; margin-right:3px;}
.jd_biaoqian{width:193px;float:left;border:1px solid #ccc;background-color:#f7f7f7;padding:10px 15px;}
.jd_biaoqian a{display:inline; padding:5px; line-height:25px;}
.user_tx{width:200px;float:left;margin:0px 0 0 30px;_display:inline;}
.user_tx li{width:48px; height:68px;float:left; margin:0 15px 10px 0;}
.user_tx li a.right{ width:48px; height:20px; overflow:hidden; text-align:center;}