@charset "utf-8";
/* CSS Document */
/* welcome.jsp */

.content{ width:970px; height:720px; clear:both;_margin-bottom:-14px;}/* 970px */
.lineGreen{ width:970px; height:4px; background-position:0 -62px; _font-size:1px;}
.contentframe{ width:970px;height:700px;margin-top: 4px;}