/*
 * ----------------------------------------------------------------
 * 文件名称	          main.css
 * 文件描述           全局样式
 * 其他
 *
 *     内容列表
 *     - Reset
 *     - General
 *     - Layout
 *     - Header
 *     - Content
 *     - Footer
 *     - Login
 * ----------------------------------------------------------------
 */


/***** Reset *****/

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus {
    outline: 0;
}

body {
    background: white;
    line-height: 1;
    color: black;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align:middle;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/***** General *****/

body {
	text-align: center;
	color: #000;
	background:#eee;	
	font:normal 12px  Verdana, Arial, Helvetica, sans-serif,"宋体";	
}


body strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #288ee4;
}

a:hover {
    text-decoration: underline;
	color: #ff3300;	
}

label, button {
cursor: pointer
}

.error {
	color: Red;
}

.hidden {
	display: none;
}

.zh-CN, .zh-HK {
	font-family: 微软雅黑;
}

/***** Layout *****/

#wrapper {
    margin: 0 auto;
	background: #fff url(../image/body-bg.jpg) repeat-x 0 68px;
	border: 1px solid #92b8da;
	width: 1002px;
}

#wrapper #header {
    height: 67px;
	background:url(../image/header-bg.jpg) 340px 0;
}

#wrapper #content {
    float: left;   
	padding-top: -2px;
}

#wrapper #footer {
	clear: both;	
	height: 21px;
	padding-top:10px;
	*height:31px;
	background:url(../image/footer-bg.jpg) repeat-x;
	margin-left: 0px;
}

#wrapper .starLine {
    float: left;
	background: url(../image/content-top.jpg) repeat-x 0 1px;
    border: 1px solid #4589c4;
	text-align: left;
	padding-bottom: 0px;
	margin-left: 5px;
	width:980px; 
}


/***** Header *****/

#header h1#logo{
    float: left;
    background: url(../image/logo.jpg) no-repeat;
	width:340px;
	*width: 340px;
	height: 67px;
	overflow: hidden;
}

#header h1#logo a{
    display: block;
	padding-top: 100px;
}

#header ul#menu{
    float: right;
	width: 480px;
	height: 67px;
	overflow: hidden;
}

#header ul#menu li{
   float: left;   
}

#header ul#menu li a{
    float: left;
    background: url(../image/menu.jpg) no-repeat;
    width: 80px;
	height: 67px;
	padding-top: 100px; 		
}

#header ul#menu li#menu1 a{background-position: 0 0;}
#header ul#menu li#menu2 a{ background-position: -80px 0;}
#header ul#menu li#menu3 a{ background-position: -160px 0;}
#header ul#menu li#menu4 a{ background-position: -240px 0;}
#header ul#menu li#menu5 a{ background-position: -320px 0;}
#header ul#menu li#menu6 a{ background-position: -400px 0;}
/**over states**/
#header ul#menu li#menu1 a:hover{ background-position: 0 -67px;}
#header ul#menu li#menu2 a:hover{ background-position: -80px -67px;}
#header ul#menu li#menu3 a:hover{ background-position: -160px -67px;}
#header ul#menu li#menu4 a:hover{ background-position: -240px -67px;}
#header ul#menu li#menu5 a:hover{ background-position: -320px -67px;}
#header ul#menu li#menu6 a:hover{ background-position: -400px -67px;}


/**current states***/
#header.page1 ul#menu li#menu1 a{ background-position: 0 -67px;}
#header.page2 ul#menu li#menu2 a{ background-position: -80px -67px;}
#header.page3 ul#menu li#menu3 a{ background-position: -160px -67px;}
#header.page4 ul#menu li#menu4 a{ background-position: -240px -67px;}
#header.page5 ul#menu li#menu5 a{ background-position: -320 -67px;}
#header.page6 ul#menu li#menu6 a{ background-position: -400px -67px;}


/***** Content *****/

#content{
    float: left;
}
#content .box {
    float: left;
	background: url(../image/tab-bg.jpg) repeat-x 0 1px;
    border: 1px solid #4589c4;
	text-align: left;
	padding-bottom: 5px;
}

#content .box .title {
    background: #fff url(../image/tab-right.gif) no-repeat right 0;
    float: left;
	padding: 7px 8px 5px 8px;
	color: #616266;
	font-family : "宋体";
	font-weight: bolder;  
}

#content .box .content {
    clear: both;
	margin: 10px;	     	  
}

#content .box .page3,#content .box  .page5{
    margin: 0;
}

#staffList{
	position: relative;
}

#content .box .txt {
    display: inline;
    float: left;
	margin: 5px 0 0 10px;
	width: 94%;
    height: 20px;
}

#content .box .txt span.alert {
    font-weight: normal;
	float: left;	
	margin-top: -2px;	
}

#content .box .txt span.alert a {
    text-decoration: underline;
	font-weight: normal;
	color: #ff3300;
	font-size: 14px;
	padding-left: 2px;
}

#content .box .txt span .alert input {
    display: block;
    width: 30px;
	padding-left: 2px;
	float: left;
}

.alert input{
	width: 30px;
	height:18px;
	background-color: #FF9900;
	border: 1px solid #D3E9FF;
	font-size: 12px;
	text-align: center;
}

#content .box .txt span .alert button {
	float: left;
	display: block;
	border: 1px solid #D3E9FF;
}

span .btn{
	background:url(../image/btn-normal-2.gif) no-repeat;
	width:50px;
	height:20px;
	border:1px;
	margin-left:8px;
	font-size:12px;
	text-align: center;
	padding-top: 5px;
}

.exportExcel span .btn{
	background:url(../image/btn-normal-2.gif) repeat-x;
	width:70px;
	height:20px;
	border:1px;
	margin-left:8px;
	font-size:12px;
	text-align: center;
	padding-top: 5px;
}
.selectShowTimeBtn{
	background:url(../image/btn-normal-2.gif) repeat-x;
	width:50px;
	height:20px;
	border:1px;
	margin-left:8px;
	font-size:12px;
	padding-top: 2px;
}

#content .box .txt .checkDetail {
    float: right;
	margin-top: 0px;  
}

#content .box .txt .checkDetail a {
   text-decoration: underline;
}

.area1,
#queueInfo,
#teamInfo
{
    float:left;
    display: inline;
    margin-left: 5px;
    margin-top: 7px;
    width: 491px;

}

.area2{
    float:left;
	display: inline;
    margin-top: 7px;
    margin-left: 5px;    
	width: 492px;	

}

.area3,.area4,#callRate{
    float: left;
    display: inline;
    margin-top: 5px;
	margin-left: 5px;  
	width: 979px;  
	
}

.box.area3 .exportExcel img{
	float: right;
	cursor: pointer;
	margin-top: 5px;
	margin-right: 2px;
}

.exportExcel .xlsPictuerPostion{
	float: right;
	cursor: pointer;
	_margin-top: -30px;
	_margin-right: 0px;
}

.area5{
	float:right;
    display: inline;
    margin-right: -2px;
    width: 491px;
}
.area9{
	margin-left:5px;
	text-align:center;
	margin-top:5px;
	float:left;
    display: inline;
    height:28px;
    width: 99%;
    border: 1px solid #458ac4;
}

.area11{
	margin:5px;
	text-align:center;
	float:left;
    display: inline;
    height:28px;
    margin-right: -2px;
    width: 98.8%;
    border: 1px solid #458ac4;
}

.area6{
    float:left;
	display: inline;
    margin-left: 10px;    
	width: 492px;	
	height: 100%;
	margin-left:1px;
	width:90%;
}

.area10{
    float:left;
	display: inline;   
	height: 100%;
	margin-left:1px;
	width: 40%;
	text-align: left;
}

.area7{
    float: left;
    display: inline;
    margin-top: 1px;
	margin-left: 5px;  
	width: 988px;  
	
}

.checkDetail{
    float: left;
    margin: 5px 10px;
}

.chartContainer{
    margin: 5px 0px;
    float: left;
}
.chart1{
    float: left;
    width: 980px;
	
	margin-bottom: 10px;
}
.chart1 .chartContainer{
    margin-right: 10px;
	width: 702px;
}
#content .chart1 .txt{
    margin: 5px;
	width: 400px;
}
.chart1 .report,.addReportDetail{
    float: left;
	width: 250px;
	margin-top: 5px;


}
.addReportDetail{
	border:1px solid #458ac4;
	width:238px;
	height:260px;
	*width:256px;
	padding:0 10px;

}

.addReportDetail .kpi,
.addReportDetail .date{
	margin:15px 0;
}
.addReportDetail textarea{
	margin-top:5px;
	width:234px;
	height:90px;
}
.addReportDetail .btn{
	margin-top:10px;
	float:right;}
	
.addReportDetail .btn button{
	margin-left:5px;
}

.addReportDetail .highlight  {
    background:#cbeaee
}  
.chart1 .report div{
    float:left;
	
}

.chart1 .report .oldReport,
.chart1 .report .lastReport{
    float:right
}

.chart1 .report .addReport a,
.chart1 .report .lastReport a,
.chart1 .report .oldReport a
{
    background: url(../image/btn-add-report.gif) no-repeat;
	padding-left: 23px;
	padding-top: 4px;
	line-height: 180%;
}

.chart1 .report .lastReport a{
    background: url(../image/btn-last-report.gif) no-repeat;
	color:#666666px;
}

.chart1 .report .oldReport a.disable{
    background: url(../image/btn-old-report.gif) no-repeat;
	color:#666666px;
}

.chart1 .report .lastReport a{
    background: url(../image/btn-last-report.gif) no-repeat;
}

.chart1 .report .oldReport a{
    background: url(../image/btn-old-report.gif) no-repeat;
}

.chart1 .report .reportDetail{
    width: 252px;
	height: 230px;
    background: #f1f1f1;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	overflow: hidden;
}
.chart1 .report .reportDetail li{
    margin: 5px 10px; 
}
.chart1 .report .reportDetail li b{
    font-weight: normal;
	color: #777;
    display: block;
    margin-top: 5px;
	height: 18px;
	

}
.chart1 .report .reportDetail li.kpi1{
    background: url(../image/icon-state-ora.gif) no-repeat 0 2px;
	padding-left: 20px;
}

.chart1 .report .reportDetail li.kpi2{
    background: url(../image/icon-state-green.gif) no-repeat;
	padding-left: 20px;
}
.chart1 .report .reportDetail li.kpi3{
    background: url(../image/icon-state-blue.gif) no-repeat;
	padding-left: 20px;
}
.chart1 .report .reportDetail li.current{
    background: #eee;
}

.chart{
    float: left;
	display:inline;
	width: 478px;
	height: 198px;
	margin: 2px;
    border: solid 1px #dddddd;
}

.chart .chartContainer{
	display:inline;
    margin: 5px;
    margin-top: 15px;
}
.chart .chartContainer .txtSum{
    margin-top: 5px;
	text-align:center;
    font-weight: bold;
}
.chart .report{
    float: left;
	width: 314px;
    height: 180px;
	margin: 4px 3px 4px 3px;
   
}

.chart .report li{
     width: 280px;
	 *width: 300px;
	 margin-top: 10px;
}
.chart .report li b a{
    display: block;
	float: left;
	height: 30px;
	width: 60px;
	margin-right: 0px;
	font-weight: normal;
	font-size: 12px;
}

.chart .report .li4,
.chart5 .report .li4{
    background: url(../image/icon-state-gray.gif) no-repeat;
	padding-left: 20px;
}
.chart .report .li2,
.chart5 .report .li2{
    background: url(../image/icon-state-ora.gif) no-repeat;
	padding-left: 20px;
}
.chart .report .li3,
.chart5 .report .li3{
    background: url(../image/icon-state-green.gif) no-repeat;
	padding-left: 20px;
}
.chart .report .li1,
.chart5 .report .li1{
    background: url(../image/icon-state-blue.gif) no-repeat;
	padding-left: 20px;
}

.chart2 .report li{
    margin-top: 25px;
}
.chart3{
    height: 190px;
    *height: 180px;
    _height: 180px;
}
.chart4{
    padding-right: 5px;
    margin-right: 5px;
	border-right: 1px dashed #9eb9df;
}
.current{
	background: #e7f4ff;
    border: none;
	width: 480px;
	height: 200px;
}
.listChoose{
    float: left;
	margin: 5px;
	margin-top:15px;
}

.listChoose .col1{
    float: left;
    width: 560px;
	border-right: 1px solid #ccc;
	height: 120px;
}

.listChoose .col2{
    float: left;
    width: 180px;
	margin-left: 20px;
	margin-bottom: 10px;
	border-right: 1px solid #ccc;
	height: 120px;
}

.listChoose .col3{
    float: left;
	margin-left: 20px;
    width: 180px;
}

.listChoose .col3 button{
    float: right;
    margin:1px;
	_margin: 1px 5px 1px;
}

.expandPanel a{
	float:right;
	display:block;
	height:18px;
	margin-top:7px;
	margin-right:5px;
	background: url(../image/icon-expand.gif) no-repeat right 0;
	padding-right:22px;
}
.memberTable{
    float: left;	
	margin-top: 5px;
	margin-bottom: 5px;
}

.memberTable .opration{
    float: left;
	display:inline;
	margin: 10px;
	margin-left: 360px;
}

.memberTable button{
    margin-right: 10px;
}

/*********page5 show**********/
#showRank{
	margin-top:-21px;
}
.map{ 
    float: left;   
	background: url(../image/img_map.gif) no-repeat;
	margin: 20px;
    width: 600px;
	height: 550px;
	display: inline;
}
.chart5{
    float: left;
	background: #eaf2f3;
	width: 320px;
	height: 260px;
	margin: 15px 0 0 10px;
    border: 1px solid #ccc;
	display: inline;
}
.chart5 p{
    float: left;
	margin: 20px 0 0 20px;
	font-size: 12px;
	display: inline;
	color: #5AA3DF;
	font-family : "宋体";
	font-weight: bolder;
}
.chart5 b{
    float: right;
	margin: 20px 20px 0 0;
	font-size: 12px;
	display:inline;
}

.chart5 b span{
    color: #ff3300;
}
.chart5 .chartContainer{
    margin: 10px;
	display: inline;
	
}
.chart5 .report{
    float: left;
	display: inline;
    width: 100px;
	margin: 30px 0 0 10px;
}
.chart5 .report li{
    margin-top: 15px;
	text-align: left;
}
.statusNote{
    padding: 10px;
    
}

.statusNote .statusCall{
    margin-left: 350px;
    background: url(../image/icon-member-blue.gif) no-repeat;
	padding-left: 20px;
	padding-top: 3px;
}
.statusNote .statusBusy{
    background:url(../image/icon-member-ora.gif) no-repeat;
	padding-left:20px;
	margin-left:15px;
	padding-top:3px;
}
.statusNote .statusUnLogin{
    background: url(../image/icon-member-gray.gif) no-repeat;
	padding-left: 20px;
	margin-left: 15px;	
	padding-top: 3px;
}
.statusNote .statusWait{
    background: url(../image/icon-member-green.gif) no-repeat;
	padding-left: 20px;
	margin-left: 15px;	
	padding-top: 3px;
}


.statusNote .total{
	width: 30px;
	height:18px;
	background-color: #FF9900;
	border: 1px solid #D3E9FF;
	font-size: 12px;
	text-align: center;
}

.statusNote .calling{
	width: 30px;
	height:18px;
	background-color: #FF9900;
	border: 1px solid #D3E9FF;
	font-size: 12px;
	text-align: center;
}

.statusNote .busy{
	width: 30px;
	height:18px;
	background-color: #FF9900;
	border: 1px solid #D3E9FF;
	font-size: 12px;
	text-align: center;
}

.statusNote .free{
	width: 30px;
	height:18px;
	background-color: #FF9900;
	border: 1px solid #D3E9FF;
	font-size: 12px;
	text-align: center;
}

.statusNote .unLogin{
	width: 30px;
	height:18px;
	background-color: #FF9900;
	border: 1px solid #D3E9FF;
	font-size: 12px;
	text-align: center;
}


.floorStatus .floorNum{
    background: url(../image/table3-th-bg.gif) repeat-x;	
	padding: 4px 4px 3px 10px;
	border-top: 1px solid #92b8da;
	border-bottom: 1px solid #92b8da;
	height: 17px;
	*height: 20px;
	text-align: left;
}

.floorStatus .table4 a.statusBusy{
    display: block;
    background: url(../image/icon-member-ora.gif) no-repeat;
	height: 20px;
	width: 20px;
}
.floorStatus .table4 a.statusBusy:hover{
    display: block;
    background: url(../image/icon-member-ora-hover.gif) no-repeat;
	height: 20px;
	width: 20px;
}

.floorStatus .table4 a.statusCall{
    display: block;
    background: url(../image/icon-member-blue.gif) no-repeat;
	height: 20px;
	width: 20px;
}
.floorStatus .table4 a.statusCall:hover{
    display: block;
    background: url(../image/icon-member-blue-hover.gif) no-repeat;
	height: 20px;
	width: 20px;
}

.floorStatus .table4 a.statusWait{
    display:block;
    background:url(../image/icon-member-green.gif) no-repeat;
	height:20px;
	width:20px;
}
.floorStatus .table4 a.statusWait:hover{
    display: block;
    background: url(../image/icon-member-green-hover.gif) no-repeat;
	height: 20px;
	width: 20px;
}

.floorStatus .table4 a.statusUnlogin{
    display: block;
    background: url(../image/icon-member-gray.gif) no-repeat;
	height: 20px;
	width: 20px;
}
.floorStatus .table4 a.statusUnlogin:hover{
    display: block;
    background: url(../image/icon-member-gray-hover.gif) no-repeat;
	height: 20px;
	width: 20px;
}


/***** Footer *****/


/******Input********/
.inputText{
    width: 145px;
    border: 1px solid #bbb;
	cursor: text;
	padding: 2px;
	margin-left: 5px;
}

/******Table********/
.table1{
    margin-top: 10px;
    border-collapse: collapse;
}

.table1 td{
    width: 100px;
	height: 24px;
}

.monitorTable{
	margin-top: 10px;
    border-collapse: collapse;
}

.monitorTable td{
	width: 100px;
	height: 24px;
}
.monitorTable input{
	width: 30px;
	height:18px;
	background-color: #E1EAF3;
	border: 1px solid #D3E9FF;
	font-size: 12px;
	text-align: center;
}

.table2{
    margin-top: 14px;   /*fierfox*/
    *margin-top: 25px;  /*ie7*/
    _margin-top: 28px;  /*ie6*/
    border-collapse: collapse;
} 

.table2 td{
    padding-right: 10px;
	height: 26px;
} 

.table2 input{
	width: 30px;
	height:18px;
	background-color: #FF9900;
	border: 1px solid #D3E9FF;
	font-size: 12px;
	text-align: center;
}

.table3{
    width: 988px;	
    border-collapse : collapse;
    background: url(../image/login/loginbg.jpg);
}
.table3 tr:hover{
    background: #cddbdd
}

.table3 th{
    background: url(../image/table3-th-bg.gif) repeat-x;	
	height: 18px;
	_height: 25px;	
	/*border: 1px solid #92b8da;
	border-left: 1px solid #fff;*/
	/*border-top: none;*/
	padding: 5px 0px 0 0px;
	text-align: center;
	color: #6A7787;
	font-family : "宋体";
	font-weight: bolder;
}



.table3 td{
    text-align: center;
	/*border-right: 1px solid #eaf2f3;*/
	padding: 2px 0px 4px 0px;
	*padding-top: 2px;
	vertical-align: middle;	
}

.table3 .inlineTD{
	background:url(../image/tab-bg.jpg) repeat-x;
}

.calling{
     background: #e48701;
}

.wait{
     background: #1b95d9;
}


.busy{
     background: #a5bc4e;
}

.coordinate{
	background: #339966;
}

.colBlue{
     background: #A1B4C1;
}
//table3间隔显示显示颜色
.evenColor {
	background: #0xEFF1F1;
}
.oddColor{
	background: #0xe6f3f7;
}

.over{
	background: #CCCC25;
}

.table4{
    width: 970px;
	margin: 10px 0;
	margin-left:10px;
}
.table4 th{
    height: 18px;
 
	}
.table4 td{
    text-align: left;
	height: 18px;
	*height: 20px;

}
.table4 td a{
    position: relative;
	top:4px;
}

/******Button*******/
.btnNormal2,
.btnNormal3,
.btnNormal4,
.btnNormal5,
.btnNormal6{
    background: url(../image/btn-normal-2.gif) no-repeat;
	border: none;
	width :60px;
	height: 25px;
	font:  normal 12px Verdana, Arial, Helvetica, sans-serif,"宋体";
	cursor: pointer;
}

.btnNormal3{
    background: url(../image/btn-normal-3.gif) no-repeat;
	width:70px;
}
.btnNormal4{
    background: url(../image/btn-normal-4.gif) no-repeat;
	width: 70px;
}

.btnNormal5{
    background: url(../image/btn-normal-5.gif) no-repeat;
	width: 90px;
}
.btnNormal6{
    background: url(../image/btn-normal-6.gif) no-repeat;
	width: 90px;
	margin-top: 1px; 
	margin-bottom: 1px; 
}
.btn_sub,.btn_add{
    background: url(../image/btn-sub.gif) no-repeat;
	width: 16px;
	height: 16px;
	border: none;
	cursor: pointer;
	margin-right: 5px;
}

.btn_add{
    margin-left: 5px;
    background: url(../image/btn-add.gif) no-repeat
}

.btnNormaClose , .cancelFilter{
    background: url(../image/btn-normal-2.gif) no-repeat;
	border: none;
	width :50px;
	height: 22px;
	font:  normal 12px Verdana, Arial, Helvetica, sans-serif,"宋体";
	cursor: pointer;
	float: right;
}

/***** Login *****/
#login{
    background:#fff;
}

.login {
    margin: 0 auto;
    background: url(../image/login-bg.jpg);
    width: 1000px;
    height: 600px;
	padding-top:60px;
}

.login .container{
    background: #fff;
    margin :0 auto;
    padding: 1px;
    width: 546px;
    height: 400px;
   border: 1px solid #92b8da;
    
}

.login .container .top{
    #background: url(../image/login-top-bg.jpg);
	width: 546px;
	height: 80px;	
}

.login .container .center{
    #background: url(../image/login-center-bg.jpg) repeat-x 0 bottom;
	width: 546px;
	height: 280px;
	text-align: left;
}

.login .container .center div{
    width: 350px;
    margin: 10px; 
    margin-left: 150px;

}
	
.login .container .center .btnLogin{
    margin-left: 176px;
}

.loginInput{
    background: url(../image/login-input-bg.jpg) no-repeat;
	height: 22px;
	width: 190px;
	margin-left: 10px;
	border: none;
	cursor: text;
	padding: 3px;
}

.login .container .bottom{
    width: 546px;
    margin-top: 1px;
	border-top: 1px solid #92b8da;
	padding-top: 5px;
	*padding-top: 10px;	
}

/********Rank Component************/
.rank {
    float: right;
	width: 225px;
    margin-top: 5px;
    cursor: pointer;
}

.rank span {
    position: relative;
    top: -2px;
}

.rank .star {
    display: inline;
    margin-left: 2px;
    margin-top: -20px;
}

.rank .star img {
    margin: 0 1px;
}

.rank b{
    color: #ff3300;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.rank a{
    font-weight: bolder;
 }
 
.rank a:hover{
    text-decoration: none;
}

#realtimeMonitor .rank{
	margin-top: 0px;
	padding-top:3px;
	float: right;
	width: 250px;
	height:100%;
    cursor: pointer;
    background: url(../image/tab-test.jpg) repeat-x  right 0pt;
    border-left: 1px solid #458ac4;
}

#distribute .rank{
	margin-top: 0px;
	padding-top:3px;
	float: right;
	width: 250px;
	height:100%;
    cursor: pointer;
    background: url(../image/tab-test.jpg) repeat-x  right 0pt;
    border-left: 1px solid #458ac4;
}
.rankTest span {
    position: relative;
    top: -2px;
}

.rankTest .star {
    display: inline;
    margin-left: 2px;
    margin-top: -20px;
}

.rankTest .star img {
    margin: 0 1px;
}

.rankTest b{
    color: #ff3300;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.rankTest a{
    font-weight: bolder;
 }
 
.rankTest a:hover{
    text-decoration: none;
}

/***********Tip Component**********/
#tip{
    background: #DBEEFC;
	border: 1px solid #ccc;
	width: 200px;
	display: none;
}

#tip ul{
	margin: 15px 10px;
	text-align: left;
}

#tip ul li{
    margin-top: 5px;
}

/********rankWindow Component**********/

.rankWindow,.moreTerm{
    width: 340px;
	height: 240px;
    display: none;
	background: #ccc;
	position: relative;
	top: 5px;
	left: 5px;
}
.moreTerm{
	width: 530px;
	height: 280px;
	display: block;
}

.rankWindow .windowShadow,
.moreTerm .windowShadow{	
    position: absolute;
	left:-5px;
	top:-5px;
	width: 340px;
	height: 240px;
	background: #fff;
	border: 1px solid #528fc4;
	text-align: left;	
}

.moreTerm .windowShadow{
	width: 800px;
	height: 280px;
}

.moreTerm .windowShadow .content{
	padding: 10px;
	line-height: 120%;
	*line-height: 100%;
}

.moreTerm .windowShadow .content strong{
	width: 66px;
	display: block;
	float: left;
	text-align: right;
	margin-top: 0px;
	*margin-top: 3px;
}
.moreTerm .windowShadow .content input{
	margin: 0 2px;
}

.moreTerm .windowShadow .content .btn{
	margin-top: 20px;
	margin-left: 100px;
}

.moreTerm .windowShadow .content .btn button{
	margin-left: 10px;
}

#techTeam7{
	margin-left:71px;
}

.windowBar{
    background: url(../image/tab-bg.jpg) repeat-x 0 1px;
    width: 100%;
	height: 26px;
    float: left
}
.windowBar .title{
    margin: 5px;
	/*font-weight: bolder;*/
}

.windowShadow .content{
	background: url(../image/login/loginbg.jpg);
    padding: 20px 0 0 19px;
	float: left;	
}

.windowShadow .content b{
    float: left;
	width: 74px;
	height: 16px;
    border: 2px solid #ff9600;
	padding: 5px 0px;
	text-align: center;
	color: #ff9600;
	background: #fff5e6;
	font-size: 14px;	
}  

.windowShadow .content .rankBox{
    float: left;
	width: 230px;
	margin: 5px 0 0 10px;
}

.windowShadow .content .rankBox .bigstar{
    float: left;
}

.windowShadow .content .rankBox .grade{
    float:left;
    color:#ff3300;
	margin-top:-20px;
	font:bolder 40px Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
    position: relative;
    left: 10px;
}

.windowShadow .content .rankBox .bigstar img{
   margin: 0px 2px;
}

.windowShadow .content textarea{
    border: 1px solid #528fc4;
	width: 290px;
	height: 90px;
	*width: 298px;
	*height: 100px;
	font-size: 12px;
	line-height: 150%;
	background: #fafafa;
	padding: 5px;
    margin-top: 8px;
    overflow: auto;
}

.windowShadow .content .submit{
    margin:8px 0 0 80px;
}

.windowShadow .content .submit button{
    margin-right: 20px;
}

/*******Tab Component***************/
    
#show{
    width: 990px;
	display: inline;
	float: left;
	margin: 7px 0px 5px 5px;
	border: 1px solid #458ac4;
}

.ccwTabList {
    background:url(../image/tab-bg.jpg) repeat-x 0 1px;
    width: 100%;
    height: 26px;
    list-style: none;
    padding: 0;
    margin: 0;	    
}

.ccwTabList li {
    float: left;
}

.ccwTabList li a {
    background:#fff url(../image/tab-bg.jpg) repeat-x 0 1px;
    width: 100px;
	height: 19px;
	*height: 26px;
    display: block;    
    border-right: 1px solid #458ac4;
	text-decoration: none;
    color: #616266;
	font-family : "宋体";
	font-weight: bolder;
    text-align: center;
    padding-top: 6px;
}

.ccwTabList li a:hover{
    text-decoration: none;
	color:#5AA3DF;
}

.ccwTabList li.ccwtab_active a {
    padding-top:7px;    
    background: #fff;
	color: #616266;
}

.panels {
    width: 100%;    
}

/*********Custom Component************/

.customBox{
	position: absolute;
	background: #fff;
	border: 1px solid #458ac4;
	width: 230px;
	padding: 10px;
	*width: 250px;
	left: -5px;
	top: -5px;
	line-height:180%;
	text-align: left;
	display: none;
}

.customBox_distribute{
	position: absolute;
	background: #fff;
	border: 1px solid #458ac4;
	width: 430px;
	padding: 10px;
	*width: 450px;
	left: -5px;
	top: -5px;
	line-height:180%;
	text-align: left;
	margin-right: auto; 
	margin-left: auto;
}

.customBox .timeTotime{
    margin: 4px 0;
}

.customBox .border{
    border: 1px solid #ccc;
	background: #cbeaee;
	padding: 2px;
}

.customBox .btn{
     margin-top: 5px;
     float: right
}
.customBox .btn button{
     margin-left: 5px;
}

.customBox_distribute{
	display: none;
}

.addReportDetail{
	display: none;
}


.errorBox{
	display: none;
	padding: 4px 0 4px 4px;
	text-align: left;
	border: 1px solid #FFCC99;
	background: #FEF2E7 url(../image/icon-alert.gif) no-repeat 4px 4px;
	padding-left: 25px;
	font-family: Arial, Helvetica, sans-serif;
}

/*********navbar display*************/
#mask{
	background:url(../image/mask-bg.jpg) repeat-x;
	height:34px;
	width:100%;
	position: absolute;
	left:0;
	top:0;
}
#maskBtn a{
	display: block;
	background:url(../image/mask-btn.jpg) no-repeat;
	margin-left:460px;
	width:40px;
	height:47px;
}

.kpiTable{
	border-collapse:collapse; 
	border: 1px solid #95CBDD;
	width:100%;
	height:100%;
	text-align:center;
	margin-right: auto; 
	margin-left: auto;
}

.kpiTable th,.kpiTable td {
	border:solid #95CBDD;
	border-width:0 1px 1px 0;
	padding:2px;
	vertical-align: middle;
	font: bold;
}
.kpiTable th{
	text-align: center;
	background-color: #C6E2EE;
}

.kpiTable td.mid{
	text-align: center;
}

.kpiTable td.blue{
	color: #649CF4; 
}

.kpiTable td.green{
	color: #217719; 
}

.kpiTable td.red{
	color: red; 
}

.kpiChangePie{
	cursor:pointer;
}
.selected{
	background: yellow;
}

.popWindowMid{
	border-collapse:collapse; 
	border: 1px solid #95CBDD;
	width:100%;
	height:100%;
	text-align:center;
	MARGIN-RIGHT: auto;
	MARGIN-LEFT: auto;
}
/******************** hr分隔线 ************************/
.hr0{ 
	height:1px;
	border:none;
	border-top:1px dashed #1E90FF;
	margin-top: -5px;
}

.hr1{ 
	height:1px;
	border:none;
	border-top:1px solid #000;
}

.hr2{ 
	height:3px;
	border:none;
	border-top:3px double #6B8E23;
}
.hr3{ 
	height:5px;
	border:none;
	border-top:5px ridge #45D6D8;
}
.hr4{ 
	height:10px;
	border:none;
	border-top:10px groove #FF8C00;
}
/****************点击曲线上的标志时，弹出显示该标记信息 窗口*************************/
#clickFlagPopWin {
	position: absolute;
	background: #fff;
	border: 1px solid #458ac4;
	padding: 10px;
	width: 510px;
	*width: 510px;
	_width: 510px;
	left: -5px;
	top: -5px;
	line-height:180%;
	text-align: left;
	display: none;
}

.clickFlagPopTable{
	border-collapse:collapse; 
	border: 1px solid #95CBDD;
	width:100%;
	height:100%;
	text-align:center;
	margin-right: auto; 
	margin-left: auto;
}

.clickFlagPopTable th,.clickFlagPopTable td {
	padding:2px;
	vertical-align: middle;
	color:#6A7787;
	margin-top:-20px;
	font: Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
}
.clickFlagPopTable th{
	text-align: center;
	background-color: #C6E2EE;
}

#realtimeMonitor .box .area5{
	background:#FFFFFF url(../image/tab-right.gif) no-repeat scroll right 0pt;
}

/**********切换技能**********/

#changeSkillGroup{
	position: absolute;
	background: #fff;
	border: 1px solid #458ac4;
	padding: 10px;
	width: 220px;
	*width: 220px;
	_width: 220px;
	left: -5px;
	top: -5px;
	line-height:180%;
	text-align: left;
	display: none;
	height: 50px;
}
#changeSkillGroup input{
	width: 130px;
	height:20px;
	border: 1px solid #D3E9FF;
	font-size: 13px;
	font-style:italic;
	color: #434364;
}

#changeSkillGroup  .btnNormaClose{
    background: url(../image/btn-normal-2.gif) no-repeat;
	border: 1px solid #458ac4;
	width :60px;
	height: 20px;
	font:  normal 12px Verdana, Arial, Helvetica, sans-serif,"宋体";
	cursor: pointer;
	margin-right: 6px;
	margin-top:10px;
}

#changeSkillGroup  .cancelFilter{
    background: url(../image/btn-normal-2.gif) no-repeat;
	border: 1px solid #458ac4;
	width :60px;
	height: 20px;
	font:  normal 12px Verdana, Arial, Helvetica, sans-serif,"宋体";
	cursor: pointer;
	float: right;
	margin-right: 6px;
	margin-top:10px;
}

#changeSkillGroup div{
	margin-left: 5px;
}

/*******************发送信息**************************/
#sendMessageContent{
	position: absolute;
	background: #fff;
	border: 1px solid #458ac4;
	padding: 10px;
	width: 300px;
	*width: 300px;
	_width: 300px;
	left: -5px;
	top: -5px;
	line-height:180%;
	text-align: left;
	display: none;
	height: 120px;
}
#sendMessageContent textarea{
	border: 1px solid #D3E9FF;
	width: 290px;
	height: 60px;
	font-size: 13px;
	overflow-y:visible;
	font-style:italic;
}

#sendMessageContent .btnNormaClose{
    background: url(../image/btn-normal-2.gif) no-repeat;
	border: 1px solid #458ac4;
	width :60px;
	height: 20px;
	font:  normal 12px Verdana, Arial, Helvetica, sans-serif,"宋体";
	cursor: pointer;
	float: right;
	margin-right: 6px;
	margin-top:10px;
}

#sendMessageContent .cancelFilter{
    background: url(../image/btn-normal-2.gif) no-repeat;
	border: 1px solid #458ac4;
	width :60px;
	height: 20px;
	font:  normal 12px Verdana, Arial, Helvetica, sans-serif,"宋体";
	cursor: pointer;
	float: right;
	margin-right: 6px;
	margin-top:10px;
}
/*******************导出excel弹出窗口**************************/
#exportExcelPopWin,#selectShowTimePopWin{
	position: absolute;
	background: #fff;
	border: 1px solid #458ac4;
	padding: 10px;
	width: 360px;
	*width: 360px;
	_width: 360px;
	left: -5px;
	top: -5px;
	line-height:180%;
	text-align: left;
	display: none;
	height: 70px;
}
#exportExcelPopWin .Wdate,.content .txt .Wdate{
	width: 130px;
	height:18px;
	border: 1px solid #B0D8EA;
	font-size: 13px;
	color: #434364;
}

#comparePopWin{
	position: absolute;
	background: #fff;
	border: 1px solid #458ac4;
	padding: 10px;
	width: 360px;
	*width: 360px;
	_width: 360px;
	left: -5px;
	top: -5px;
	line-height:180%;
	text-align: left;
	display: none;
	height: 70px;
}
