@charset "utf-8";
/**
 * Tabs css
 */
.jd_gonglve{width:100%;float:left;}
.jd_gonglve h2{width:100%; height:30px; line-height:30px; padding-top:20px;float:left; font-size:14px; font-weight: bold; border-bottom:1px solid #ccc; position:relative;}
.jd_gonglve h2 span.left{width:10%;}
.jd_gonglve h2 span.right{width:90%; border-left:1px solid #ccc; position:absolute; top:20px;}
.jd_gonglve h2 a{width:134px; height:31px; line-height:31px; text-align:center; display:block; float:left; background:url(../images/travel/bt_bg.png) right top no-repeat; margin-left:-1px;}
.jd_gonglve h2 a.currentBg10{background:url(../images/travel/bt_bg.png) left top no-repeat; font-weight:bold;}
.jd_gonglve h2 a.scyggl{width:123px; height:27px;display:block;float:right; background:url(../images/travel/fq_btn.png) left top no-repeat;}
.jd_gonglve ul{width:548px; height:165px;float:left; border-bottom:1px dashed #ccc; margin-left:5px; margin-top:30px;}
.imgbg4{width:100px; height:140px; display:block; position:relative; background-color:#ccc; float:left;}
.jd_gonglve li{width:438px;float:left; padding-left:10px;}
.jd_gonglve li h3{width:438px;float:left; }
.jd_gonglve li p{width:438px;float:left; margin:10px 0; text-indent:24px;}
.ydqw{width:60px; height:20px; line-height:20px; float:left; display:block; padding-left:15px; background:url(../images/travel/jt_qw.gif) left center no-repeat;}