<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<import resource="applicationContext.xml" />


	<bean id="googleMapGeocode" 
		class="com.easytaxi.common.utils.google.map.parser.GoogleMapGeocode">
	</bean>

	<bean id="locationService" class="com.easytaxi.location.service.LocationService">
		<property name="googleMapGeocode">
			<ref bean="googleMapGeocode"/>
		</property>
		<property name="taxiDataService">
			<ref bean="taxiDataService"/>
		</property>
		<property name="passengerDataService">
			<ref bean="passengerDataService"/>
		</property>
	</bean>
	
	
	<bean id="taxiDataService" 
		class="com.easytaxi.location.service.TaxiDataService">
	</bean>
	
	<bean id="passengerDataService" 
		class="com.easytaxi.location.service.PassengerDataService">
		<property name="passengerDao" ref="passengerDao"/>	
	</bean>
	
	<!-- location service -->
	<bean id="callTaxiDao" class="com.easytaxi.request.dao.CallTaxiDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="callTaxiServie" 
		class="com.easytaxi.request.service.CallTaxiServie">
		<property name="callTaxiDao" ref="callTaxiDao"/>	
		<property name="taxiDao" ref="taxiDao"/>
		<property name="passengerDao" ref="passengerDao"/>	
	</bean>
	<!-- end -->
	
	<!-- credit rating service -->
	<bean id="creditRecordDao" class="com.easytaxi.request.dao.CreditRecordDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	
	<bean id="creditRateService" 
		class="com.easytaxi.request.service.CreditRateService">
		<property name="callTaxiDao" ref="callTaxiDao"/>	
		<property name="creditRecordDao" ref="creditRecordDao"/>
		<property name="taxiDao" ref="taxiDao"/>
		<property name="passengerDao" ref="passengerDao"/>
	</bean>
	<!-- end -->
	

</beans>