<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<import resource="applicationContext.xml" />


	<bean id="googleMapGeocode" 
		class="com.easytaxi.common.utils.google.map.parser.GoogleMapGeocode">
	</bean>

	<bean id="locationService" class="com.easytaxi.service.LocationService">
		<property name="googleMapGeocode">
			<ref bean="googleMapGeocode"/>
		</property>
		<property name="taxiDataService">
			<ref bean="taxiDataService"/>
		</property>
		<property name="passengerDataService">
			<ref bean="passengerDataService"/>
		</property>
	</bean>
	
	
	<bean id="taxiDataService" 
		class="com.easytaxi.service.TaxiDataService">
	</bean>
	
	<bean id="passengerDataService" 
		class="com.easytaxi.service.PassengerDataService">
	</bean>
	
	
	

</beans>