<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
<import resource="applicationContext.xml"/>

  <!--
     To include additional bean definitions for Spring in the generated
     application context file, add a file to your XDoclet merge directory
     called spring-daos.xml that contains the <bean></bean> markup.
  -->

<!-- generate dao start -->
	<bean
      id="staffInfoTreeDao"
      class="com.easytaxi.common.tree.dao.impl.StaffInfoTreeDao">
     <property name="sqlMapClient">
       <ref bean="sqlMapClient"/>
     </property>
  </bean>
<!-- generate dao end -->

  <!--
     To include additional bean definitions for Spring in the generated
     application context file, add a file to your XDoclet merge directory
     called spring-services.xml that contains the <bean></bean> markup.
  -->

<!-- generate servcie start -->
	<bean
      id="staffInfoTreeService"
      class="com.easytaxi.common.tree.service.impl.StaffInfoTreeService">
     <property name="staffInfoTreeDao">
       <ref bean="staffInfoTreeDao"/>
     </property>
  </bean>
<!-- generate servcie end -->

</beans>